@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Concert+One&family=East+Sea+Dokdo&family=Lobster+Two&display=swap');



html {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: table;
    height: 100vw;
    margin: auto;
    min-width: 200px;
    max-width: 1200px;
    
}

body { 
    margin: auto;
    height: 100vh;
    background-image: url(imagens/azul.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 300px;
}
 h1 {
    background-color: rgba(243, 243, 219, 0.849); 
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    
    }
   header { 
    text-align: center;    
    color: rgba(0, 0, 0, 0.945);
    
    margin: 30px;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    font-family: 'Concert One', cursive;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Lobster Two', cursive;
    
   }
img { 
    background-position: center;
    border-radius: 50%;
}

article#instagram { 
    text-align: center;
    margin: auto;
    
    
     

}

article#linkedin { 
    text-align: center;
    margin: auto;
    
    
}

a:hover {
    text-decoration: underline;
    color: black;
}
