@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Concert+One&family=East+Sea+Dokdo&display=swap');

* { 
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url(imagens/pexels-gradienta-7130475.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: table;
    height: 100vw;
    margin: auto;
    background-color: black;
    min-width: 200px;
    max-width: 1200px;
    
}
   header { 
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Concert One', cursive;
    font-family: 'East Sea Dokdo', cursive;
    color: darkgrey;
    text-shadow: 2px 2px 2px black;
    margin: 30px;
    font-size: 30px;
    
   }
img { 
    background-position: center;
    border-radius: 50%;
}

article#instagram { 
    text-align: center;
    margin: auto;
    
     

}

article#linkedin { 
    text-align: center;
    margin: auto;
    
    
}

a:hover {
    text-decoration: underline;
    color: black;
}
